<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatAIDA</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" rel="stylesheet">
    <link rel="icon" href="/static/img/iconn.png" type="image/x-icon">
</head>
<body>
    <div class="box">
        <div class="chat-container">
            <div class="chat-box" id="chat-box"></div>
            <div class="input-container">
                <textarea id="user-input" placeholder="Type a message..."></textarea>
                <button id="send-btn" aria-label="Send">➤</button>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
